<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Theme Company</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    .jumbotron {
        background-color: #B82601; /* Green */
        color: #ffffff;
    }

    .container-fluid {
    padding: 60px 50px;
    }
</style>

<body>
<div class="jumbotron text-center">
    <h1>Vaccination Checker</h1>
    <p>Are you protected?</p>
    <p>
        <!--<input id="file" type="file" accept="image/*">-->
        <button class="btn btn-default btn-lg">Start Analzying</button>
    </p>

</body>
</div>
</body>
</html>

